---
import type { GetStaticPaths } from "astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";

export const getStaticPaths = (async () => {
    const blogPosts = await getCollection("blog");

    // return [
    //     {
    //         params: {
    //             slug: "post-01",
    //         },
    //         props: {
    //             title: "Post 01",
    //             description: "This is the first post",
    //             date: new Date("2023-01-01"),
    //         },
    //     },
    // ];

    return blogPosts.map((post) => ({
        params: {
            slug: post.id,
        },
        props: {
            post: post,
        },
    }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const frontmatter = post.data;

const { Content, headings } = await render(post);
---

<BlogLayout title={frontmatter.title}>
    <h1 class="text-xs text-gray-500 mb-0">{frontmatter.title}</h1>
    <h4 class="text-xs text-gray-400 mb-0">{frontmatter.author}</h4>

    <h3>Tabla de contenidos</h3>
    <ol>
        {
            headings.map((heading, index) => (
                <li>
                    <a href={`#${heading.slug}`}>
                        {index + 1} - {heading.text}
                    </a>
                </li>
            ))
        }
    </ol>

    <Content />
    <div class="my-20">
        <a href="#btn-back">Ir arriba</a>
    </div>
</BlogLayout>
